---
/**
 * Matrix Background Component
 * @description Animated Matrix rain effect background
 */
---

<div class="matrix-background">
  <canvas id="matrix-canvas"></canvas>
</div>

<style>
  .matrix-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-background);
    pointer-events: none;
  }
  
  #matrix-canvas {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.15;
  }
</style>

<script>
  import { MatrixRain } from '@/scripts/matrix-rain.js';
  
  const matrix = new MatrixRain('matrix-canvas', {
    fontSize: 14,
    characters: 'アイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨラリルレロワヲン01'
  });
  
  matrix.start();
</script>
