---
// src/pages/index.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="max-w-3xl mx-auto px-6 py-20 md:py-32 font-sans">
    
   
   

    <!-- Hero -->
    <section class="mb-32">
      <h1
        class="text-4xl md:text-5xl font-bold tracking-tight mb-8 font-mono text-white leading-tight"
      >
        Dekonditionierung.<br />
    </section>

  </main>
</BaseLayout>
